#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:hover{
  color: white;
  box-shadow: 8px;
  background-color: black;
  transition: 0.3s;
}
button{
  color: gold;
  box-shadow: 15px;
  background-color: cyan;
  border-radius: 15px;
  justify-content: space-between;
}